<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}Devoured{{else}}Not Devoured{{/if}}
	</button> 
	<button class="deleteBurger" data-id="{{id}}" value="delete">Delete</button>
</li>
