<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Not Devoured{{else}}Devoured{{/if}}
	</button> 
	{{#unless devoured}}
	<button class="deleteBurger" data-id="{{id}}" value="delete">Delete</button>
	{{/unless}}
	
</li>
